<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141000027202-c2vgjm93s5r4psiv09hlco7b4d61eb7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141000027202-c2vgjm93s5r4psiv09hlco7b4d61eb7a</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ7qOuFlileHFUBAVzrj9b71xHfofHHZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>141000027202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.worldCup</string>
	<key>PROJECT_ID</key>
	<string>world-cup-5ff09</string>
	<key>STORAGE_BUCKET</key>
	<string>world-cup-5ff09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141000027202:ios:6e17b0f93ca42953a791db</string>
</dict>
</plist>